@charset "utf-8";
@import url(common.css);

/* /////로그인페이지_일반///// */

#login_body {
background: url(../images/login_bg_pattern.gif);
background-repeat:  repeat-x;
background-color: #f9f9f9;
}

#login_wrap_inner {
width: 1000px;
margin: 0 auto;
background: url(../images/login_bg_point.gif);
background-repeat:no-repeat;
}

.login_box {
width: 100%;
height: 325px;
padding-top: 236px;

}

.login_box .login_box_inner {
width: 666px;
height: 305px;
margin: 0 auto;
border: 10px solid #266090;
background: url(../images/loginBox_bg.gif);
background-repeat:no-repeat;
background-color:#fff;
}

.login_box_inner .login_frame {
padding: 36px 0 0 270px;
width: 369px;
height: 233px;
}

.login_frame h1 {
width: 327px;
padding: 14px 0 20px 42px;
background: url(../images/icon_login.png);
background-repeat:no-repeat;
border-bottom:2px solid #5e5e5e; 
font-size: 36px;
font-weight: 700;
color:#3f3d3d;
letter-spacing: -1px;
}

.login_frame > label {
font-size: 13px;
color:#1d1d1d;
}

.login_frame .sel_r_label {
font-size: 11px;
}

.login_frame .select_r {
padding: 29px 0 14px 0;
text-align-last: right;
}

.login_frame > input[type="text"] {
border:1px solid #bfbfbf;
width: 185px;
height: 27px;
}

.login_frame > .log_t {
font-weight: 700;
letter-spacing: 2px;
}

.btn_login {
display:block;
float: right;
position: relative;
top: -33px;
width: 89px;
padding:25px 0;
color:#fff;
font-weight: 700;
background: #1577b5;
font-size: 13px;
text-align: center;
}

.btn_alert {
display: inline-block;
width: 18px;
height: 18px;
padding-right: 6px;
background: url(../images/icon_caution.gif);
background-repeat: no-repeat;
vertical-align: middle;
}

.log_alert {
padding: 40px 0 0 0; 
color:#e62929;
font-size: 11px;
font-weight: 700;
text-align: center;
}

#login_footer {
width: 100%;
position: absolute;
left: 0;
bottom:0;
padding: 32px 0;
border-top: 1px solid #ededed;
background:#fff;
}

#login_footer > .inner {
overflow: hidden;
width: 1000px;
margin: 0 auto;
}

#login_footer > .inner .f_logo {
display: block;
float: left;
}

#login_footer > .inner .f_info_box {
float: left;
padding-left: 43px;
}

.f_info_box .team_name {
color:#474747;
font-size: 14px;
font-weight: 900;
line-height: 27px;
}

.f_info_box .f_info {
color:#6b6969;
font-size: 12px;
font-weight: 700;
line-height: 15px;
}



/* /////메인페이지_일반///// */

#visual {
height: 272px;
background: url(../images/bg_visual.jpg);
background-repeat: no-repeat;
background-position: center top;
background-color: #bab7ba;
}

#visual > .inner {
width: 1000px;
margin:0 auto;
}

#visual > .inner .visual_txt {
padding-top: 125px;
}

#container .con1 .con1_inner,
#container .con2 .con2_inner {
width: 1000px;
margin: 0 auto;
}


#container .con1 {
background:#2075aa;
}

.con1 .con1_inner {
background: #fff;
}

.con1_inner .btn_incomplete {
float: left;
display: inline-block;
width: 164px;
padding: 35px 0 36px 0;
text-align: center;
color: #fff;
background:#146191;
font-size: 18px;
font-weight: 700;
}

.con1_inner .btn_incomplete .icon_incomplete {
display: inline-block;
width: 24px;
height: 24px;
padding-right:10px; 
background: url(../images/icon_check.png);
background-repeat: no-repeat;
vertical-align: middle;
}

.con1_inner .slide_incomplete_box {
/* float: right; */
display: inline-block;
width: 710px;
padding:25px 62px 23px 60px;
position: relative;
}

.slide_incomplete_box ul.slide_incomplete {
overflow: hidden;
}

.slide_incomplete_box ul.slide_incomplete > li {
padding:18px 0;
background: url(../images/bg_work.gif);
background-repeat: no-repeat;
text-align: center;
}

.slide_incomplete_box ul.slide_incomplete > li > a {
padding:18px 0;
color:#1f495b;
font-weight: 900;
}

.slide_incomplete_box .btn_box .prevBtn {
position: absolute;
left: 20px;
top:33px;
}

.slide_incomplete_box .btn_box .nextBtn {
position: absolute;
right:19px;
top:33px;
}

#container .con2 {
background: #f6f6f6;
}

.con2 .con2_inner {
overflow: hidden;
padding: 25px 0 30px 0;
}

.con2_inner .notice1,
.con2_inner .notice2 {
float: left;
background: #fff;
width:424px;
padding: 33px 36px 26px 36px;
}

.con2_inner .notice1 {
margin-right: 8px;
}

.con2_inner h2 {
padding: 0 10px 15px 10px;
background: url(../images/bar_main_con.gif);
background-repeat: no-repeat;
background-position: bottom;
color:#333;
font-size: 16px;
font-weight: 700;
}

.con2_inner h2 .icon_plus {
float: right;
}

.con2_inner ul {
height: 150px;
padding-top: 22px;
}

.con2_inner ul > li {
padding-left: 10px;
background: url(../images/dot_list.gif);
background-repeat:no-repeat;
background-position: 0 12px;
}

.con2_inner ul > li > a {
font-size: 14px;
line-height: 23px;
color:#555;
}

.con2_inner ul > li > a:hover {
text-decoration: underline;
}

.icon_new {
display: inline-block;
width:12px;
height: 12px;
background:url(../images/icon_new.gif);
background-repeat: no-repeat;
vertical-align: top;
}

.con2_inner ul > li .date {
float: right;
font-size: 13px;
line-height: 23px;
color:#555;
}