main {
    	height: 100%;
		margin: 0px;
	}
.jumbotron {
  background-image: url(http://arti.us/clients/conversant/images/bike.jpg);
  background-color: #2d2d2d;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat:none;
  background-position:top;
  display: table;
  width: 100%;
  position: relative;
  border-radius: 0px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif; letter-spacing:8px;
}

.jumbotron h1 {font-size:40px;}