body {
  font-family: Arial, sans-serif;
/*  background-color: rgb(216, 84, 84);*/
  margin: 0;
}

.container {
  margin-bottom: 30px;
}

#scroll-val, 
#bottom {
  height: 900px;
  background-color: #f4f4f4;
} 

#graph ul {
  width: 1213px;
  height: 500px;
  margin: 0 auto;
  list-style: none;
  color: #333;
  font-size: 14px;
  padding: 0;
/*  background: url(http://static.inky.ws/image/4580/strategy_and_planning_graph_axis.png) no-repeat 0px 60px;*/
}

#graph li {
  float: left;
  position: relative;
  margin-left: -115px;
}

#graph li:nth-child(1) {
    width: 435px;
    height: 455px;
    margin-left: 0;
    background: url(../images/bg1_Tskills_about.png);
    background-repeat: no-repeat;
}

#graph li:nth-child(2) {
    width: 567px;
    height: 588px;
    background: url(../images/bg2_Tskills_about.png);
    background-repeat: no-repeat;
}

#graph li:nth-child(3) {
    width: 441px;
    height: 461px;
    background: url(../images/bg3_Tskills_about.png);
    background-repeat: no-repeat;
}

#graph li .txtBox {
    padding-top: 10%;
    text-align: center;
}

#graph li:nth-child(2n+2) /* Even circles */
{
  /*height: 220px; 
  width: 220px;
  margin-left: -30px;
  margin-bottom: 80px;*/
}

/*
#graph li:nth-child(2) p {
  top: 25%;
}

#graph li:nth-child(3) p {
  top: 23%;
}

#graph li:nth-child(4) p {
  top: 22%;
}
*/

#graph li:nth-child(3) /* third circle */ 
{
  /*margin-left: -30px;*/
}

/* Misc circles */
/*#graph li:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgba(255,255,255, 0.3);
}*/

/*#graph li:nth-child(1):before {
  left: -5px;
  top: 20px;
}

#graph li:nth-child(2):before {
  bottom: -100px;
  left: 80px;
}

#graph li:nth-child(3):before {
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: -20px;
}

#graph li:nth-child(4):before {
  top: -10px;
  right: 30px;
}*/

@media all and (max-width:1212px) { /**/

    #graph ul {
        width: 100%;
        height: auto;
    }
    
    #graph li { 
        float: inherit;
        width:100% !important;
        height: 720px !important;
        margin: 0;
        margin-left: 0;
        background-size: 720px 720px !important;
        background-position: center !important;
    }
    
    li.fixedMobile {
        top:0 !important;
        bottom: 0 !important;
    }

}

@media all and (max-width:414px) { 

    #graph ul {
        width: 100%;
        height: auto;
    }
    
    #graph li {
        float: inherit;
        width:100% !important;
        height: 414px !important;
        margin: 0;
        margin-left: 0;
        margin-bottom:0;
        background-size: 414px 414px !important;
        background-position: center !important;
    }
    
    #graph li:nth-child(1) {
        margin-top: -239px;
    }

    li.fixedMobile {
        top:0 !important;
        bottom: 0 !important;
    }


}