@media all and (max-width:767px) { 

    /* header */
    #header > .inner > h1 {
        left:15px;
    }
    
    nav {
        padding-left: 30px;
    }
    
    nav .gnb > li {
        margin-left: 25px;
    }
    
    /* main */
    #mainVis {
        display: none;
    }
    
    #Con .inner {
        padding: 90px 15px;
    }
    
    #Con .inner h2 {
        background-position: -10px 5px;
    }
    
    #Con .inner h2 > span {
        font-size: 15px;
    }
    
    .con_list_box h3 {
        padding: 0 0 22px 17px;
    }
    
    .con_list_box h3 > span {
        font-size: 14px;
    }
    
    .mainCon_list > li {
        width: 99%;
        margin-bottom: 40px;
    }
    
    .mainCon_list > li .mainCon_list_inner {
        padding: 15px 15px 50px 15px;
    }
    
    .mainCon_list_inner > h3 {
        padding: 30px 0 10px 0;
    }
    
    .mainCon_list_inner > h3 > a,
    .mainCon_list_inner > p > a {
        font-size: 14px;
    }
     
    .nameTitle {
        font-size: 16px;
    }
    
    /* footer */
    #footer .inner {
        padding: 0 15px;
    }
    
    .f_info_box .copyright {
        font-size: 12px;
    }
    
    .top {
        width: 40px;
        line-height: 40px;
        font-size: 12px;
    }
    
    /* about */
    .list_box_inner > .img_box1_about {
        float: inherit;
        width: 95%;
        margin: 0 auto;
    }
    
    .list_box_inner .txt_box1 {
        float: inherit;
        padding-left: 0 !important;
        padding-top: 25px;
    }
    
    .txt_hello1,
    .txt_hello2
    {
        font-size: 14px;
        line-height: 28px;
    }
    
    .list_box_inner .txt_box2 {
        float: inherit;
        padding-bottom: 50px;
    }
    
    .list_box_inner > .img_box2_about {
        float: inherit;
        width: 95%;
        margin: 0 auto;
    }
    
    .txt_box2 dl.txt_list dt {
        padding-left: 0;
        font-size: 13px;
        line-height: 35px;
    }
    
    .txt_box2 dl.txt_list dd {
        font-size: 14px;
        line-height: 35px;
    }
    
    .mynum_box ul li {
        width: 45%;
    }
    
}

@media all and (max-width:1212px) { 

    /* about */
    #graph ul {
        width: 100%;
        height: auto;
    }
    
    #graph li { 
        float: inherit;
        width:100% !important;
        height: 720px !important;
        margin: 0;
        margin-left: 0;
        background-size: 720px 720px !important;
        background-position: center !important;
    }
    
    li.fixedMobile {
        top:0 !important;
        bottom: 0 !important;
    }
    
    .workBox,
    .work_txtBox {
        width: 90%;
        
    }
    
    .work_txtBox_list li {
        padding-left: 10px;
    }
    
    .work_txtBox_list li h2,
    .work_txtBox_list li span {
        padding-left: 0;
    }
    
    .txtBox h5 {
        padding-top: 10px;
    }
    
    .icon_contact {
        display: none;
    }

}

@media all and (max-width:414px) { 

    /* about */
    #graph ul {
        width: 100%;
        height: auto;
    }
    
    #graph li {
        float: inherit;
        width:100% !important;
        height: 414px !important;
        margin: 0;
        margin-left: 0;
        margin-bottom:0;
        background-size: 414px 414px !important;
        background-position: center !important;
    }

    li.fixedMobile {
        top:0 !important;
        bottom: 0 !important;
    }
    
    .mpt0 {
        padding-top: 0 !important;
    }
    
    .mpt25 {
        padding-top: 25px !important;
    }


}
